	/*
  	Flaticon icon font: Flaticon
  	Creation date: 19/10/2020 12:56
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-storm:before { content: "\f100"; }
.flaticon-heat:before { content: "\f101"; }
.flaticon-solar-panel-1:before { content: "\f102"; }
.flaticon-roof:before { content: "\f103"; }
.flaticon-building:before { content: "\f104"; }
.flaticon-roof-1:before { content: "\f105"; }
.flaticon-roof-2:before { content: "\f106"; }
.flaticon-roof-3:before { content: "\f107"; }
.flaticon-rain:before { content: "\f108"; }
.flaticon-solar-panel:before { content: "\f109"; }
.flaticon-roof-4:before { content: "\f10a"; }
.flaticon-brick-wall:before { content: "\f10b"; }
.flaticon-customer-support:before { content: "\f10c"; }
.flaticon-house:before { content: "\f10d"; }
.flaticon-commercial-structures:before { content: "\f10e"; }
.flaticon-store-commercial-symbol-outline:before { content: "\f10f"; }
.flaticon-house-1:before { content: "\f110"; }
.flaticon-document:before { content: "\f111"; }
.flaticon-house-value:before { content: "\f112"; }
.flaticon-investment:before { content: "\f113"; }
.flaticon-location:before { content: "\f114"; }
.flaticon-auction:before { content: "\f115"; }
.flaticon-factory:before { content: "\f116"; }
.flaticon-finder:before { content: "\f117"; }
.flaticon-solar-panel-2:before { content: "\f118"; }
.flaticon-solar-house:before { content: "\f119"; }
.flaticon-weather:before { content: "\f11a"; }
.flaticon-stopwatch:before { content: "\f11b"; }
.flaticon-45-minutes:before { content: "\f11c"; }
.flaticon-customer-service:before { content: "\f11d"; }
.flaticon-technical-support:before { content: "\f11e"; }
.flaticon-contract:before { content: "\f11f"; }
.flaticon-worker:before { content: "\f120"; }
.flaticon-folder:before { content: "\f121"; }
.flaticon-roof-5:before { content: "\f122"; }
.flaticon-clouds:before { content: "\f123"; }
.flaticon-nut:before { content: "\f124"; }
.flaticon-map:before { content: "\f125"; }
.flaticon-group:before { content: "\f126"; }
.flaticon-maps:before { content: "\f127"; }
.flaticon-map-1:before { content: "\f128"; }
.flaticon-hot-cup:before { content: "\f129"; }
.flaticon-tap:before { content: "\f12a"; }
.flaticon-exit-door:before { content: "\f12b"; }
.flaticon-map-2:before { content: "\f12c"; }
.flaticon-mail:before { content: "\f12d"; }
.flaticon-open-envelope:before { content: "\f12e"; }
.flaticon-phone-call:before { content: "\f12f"; }